---
import type { GetStaticPaths } from "astro"
import { getCollection, type CollectionEntry } from "astro:content"
import { parseArticleImage } from "@/utils"
import WrittenByHuman from "@/icons/WrittenByHuman.astro"
import Root from "@/layouts/Root.astro"
import Layout from "@/layouts/Layout.astro"
import Prose from "@/components/Prose.astro"
import SEO from "@/components/seo/SEO.astro"
import ArticleSEO from "@/components/seo/ArticleSEO.astro"
import ComeBack from "@/components/ComeBack.astro"

export const getStaticPaths = (async () => {
  const articles = await getCollection("articles")
  return articles.map((a) => ({
    params: { article: a.slug },
    props: a,
  }))
}) satisfies GetStaticPaths

type Props = CollectionEntry<"articles">

const { render, data } = Astro.props
const { Content } = await render()

const image = parseArticleImage(Astro.props)
---

<Root>
  <SEO slot="meta" title={data.title} description={data.description} {image} />
  <ArticleSEO slot="meta" article={Astro.props} {image} />
  <link
    slot="meta"
    href="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.css"
    rel="stylesheet"
  />
  <Layout class="pt-24 md:pt-32 mb-40 md:mb-[30vh]">
    <div class="mb-6">
      <ComeBack />
    </div>
    <article>
      <header class="mb-10 flex flex-col gap-y-1.5">
        <span class="text-foreground/60">
          <time datetime={data.date.toISOString()}>
            {data.date.toLocaleDateString("es", { dateStyle: "long" })}
          </time>
        </span>
        <h1 class="font-serif text-4xl font-semibold lg:text-5xl mb-3">
          {data.title}
        </h1>
        <div
          class="italic grid gap-y-1 text-foreground/80 text-sm md:text-base"
        >
          <p>
            Escrito por
            <a
              class="text-foreground underline underline-offset-4"
              href="https://github.com/michelangelo-valderrama"
              target="_blank">Michelangelo Valderrama</a
            >
          </p>
          <hr class="max-w-12 border-foreground/60 border-t-[0.5px]" />
        </div>
      </header>
      <Prose>
        <Content />
      </Prose>
      <footer class="mt-14 md:mt-16">
        <div class="grid">
          <hr class="max-w-20 border-t-[0.5px] border-foreground/40 mb-4" />
          <div class="mb-4">
            <p
              class="dark:text-foreground/80 italic flex flex-wrap gap-x-1.5 items-center"
            >
              <span>Etiquetado en:</span>
              {
                data.tags?.map((t) => (
                  <span class="text-foreground border px-2 py-0.5 text-sm rounded-lg not-italic shadow">
                    {t}
                  </span>
                ))
              }
            </p>
          </div>
          <p class="dark:text-foreground/80 text-balance mb-6">
            Si quieres estar atento a mis futuras publicaciones, puedes
            suscribirte a mi <a
              href="/rss.xml"
              class="text-foreground underline underline-offset-4">rss</a
            > o mi <a
              href="/newsletter"
              class="text-foreground underline underline-offset-4">newsletter</a
            >.
          </p>
          <div class="flex">
            <a
              href="https://notbyai.fyi/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <WrittenByHuman />
              <span class="sr-only">Escrito por un humano, no por IA</span>
            </a>
          </div>
        </div>
      </footer>
    </article>
  </Layout>
</Root>
